<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.discordapp.com/attachments/834128348686581815/901362037521801217/unknown.png" rel="icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Vending Machine</title>
</head>
<body>
    <h2>Welcome!!! , you are currently using machine no  12</h2>
    <br>
    Proceed to select items in this machine <button> <a href="{% url 'cart' %}"> GO</a></button>
</body>
</html>