<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo Transaction with JS Checkout</title>
    <link rel="shortcut icon" type="image/png" href="https://developer.paytm.com/demo//static/images/icon.png?v=1.9"/>
    <script type="application/javascript" src="https://developer.paytm.com/demo//static/js/jquery.min.js"></script>
    <link href="https://developer.paytm.com/demo//static/css/style.css?v=1.9" rel="stylesheet" />
    
    	<script type="application/javascript" src="https://securegw.paytm.in//merchantpgpui/checkoutjs/merchants/PYTMDM29354165830326.js"></script>
	

</head>
<body>
<header>
    <div class="header-container">
        <a href="https://developer.paytm.com/docs/">
            <div class="logo">
                <span><img src="https://developer.paytm.com/demo//static/images/logo.png?v=1.9" alt="paytm logo image" /></span>

            </div>
        </a>
    </div>

</header>
<div class="main-content">
    <div class="heading">
        <h1>Automated Vending Machine</h1>
    </div>
    <div class="container">
        <div class="topRightBox">
            <h3>Order Summary</h3>
            
            <div class="rightBox">
                 <div class="orderDetails">
                    <div class="orderSummaryBox">
                        <p class="itemprice extra" ><span>Total MRP&nbsp;<b class="greyText">(Inclusive of all charges)</b></span><b>Rs </b> <span id="price_mrp"></span></p>
                        <p class="itemprice extra"><span>Discount</span><span> <b>Rs </b>  0.00</span></p>
                        <p class="itemprice"><span><b>Total Amount Payable</b></span><span> <b>Rs </b> <b id="finalPrice">Rs </b></span></p>
                        <button class="button" id="paytmWithPaytm " onclick="myFunc()">Pay with Paytm</button>
                    </div>
                </div>
                <br>
            </div>
            <p class="grayText">*This is dummy transaction</p>
        </div>
        <!-- end of top right box -->
    </div>
</div>

<script>
    let final_price = localStorage.getItem('totalPrice');
    let final_price_str = toString(final_price)
    document.getElementById('price_mrp').innerHTML = final_price;
    document.getElementById('finalPrice').innerHTML = final_price;


    function myFunc(){
    alert('Thanks for using this machine.');
      localStorage.clear();
      document.location = '{% url 'home' %}';
    }
</script>

<footer>
    <div class="footer-bottom">
      <div class="lightBlue"></div>
      <div class="darkBlue"></div>
      <div class="linksdiv">
      <ul class="footerlinks">
        <li><a href="https://paytm.com/about-us/our-policies/" target="_blank">Terms of Service</li></a></li>
        <li><a href="https://paytm.com/about-us/our-policies/" target="_blank">Privacy Policy</a></li>
      </ul>
      </div>
      <div class="copyright footerlinks">
        <ul><li>© 2021, Prateek Agrawal</li></ul>
      </div>
    </div>
  </footer>
</body>
</html>